
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
       <div class="row">
         <div class="col-xs-12">
           <button type="submit" class="btn btn-success">Save</button>
           <button type="button" class="btn btn-danger">Cancel</button>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-12">
           <div class="form-group">
             <label for="name">Name:</label>
             <input type="text" formControlName="name" id="name" class="form-control"> 
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-xs-12">
           <label for="imagePath">Image URL:</label>
           <input type="url" formControlName="imagePath" id="imagePath" class="form-control">
          </div>
       </div>
       <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea type="text" formControlName="description" id="description" class="form-control"> </textarea>
            </div>
          </div>
        </div>
        <button class="btn btn-default " type="button" (click)="onAddIngredient()">Add Ingredient</button>
        <p></p>
        <div class="row form-group" formArrayName="ingredients" *ngFor="let item of recipeForm.get('ingredients').controls; let i = index">
            <div class="col-xs-12  ">
              <div class="row" [formGroupName]="i" >
                <div class="col-xs-6">
                  <input placeholder="ingredient" formControlName="ingName" class="form-control" type="text">

                </div>
                <div class="col-xs-2">
                  <input placeholder="lb, tsp, lb..." formControlName="ingMeasure" class="form-control" type="text">

                </div>
                <div class="col-xs-2">
                  <input formControlName="ingAmount"type="number" placeholder="amount" class="form-control">
                </div>
                <div class="col-xs-2">
                  <button type="button" (click)="onDeleteIngredient(i)" class="btn btn-default">X</button>
                </div>
              </div>
              
            </div>
          </div>
    </form>
  </div>
</div>
