<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.image}}" class="img-responsive" style="max-height:200px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
                <h1>{{recipe.name}}</h1>
        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div appDropdown class="btn-group">
          <button  class="btn btn-primary dropdown-toggle">
              Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="onAddList()">Add to List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
                      
      </div>  
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<p></p>
<b>Ingredients:</b>
<div *ngFor="let item of recipe.ingredients" class="row">
<div class="col-xs-12">
 <p><span class="col-sm-5 col-md-2">{{item.amount}} {{item.measure}}</span>  <span class="col-sm-5">{{item.name}}</span></p>
</div>
</div>
